{% extends "header.html" %}
{% block content %}
    <div id="results">
        {% if form.gender.data == 'male' %}
            {% set gender = 'Mr.' %}
        {% elif form.gender.data == 'female' %}
            {% set gender = 'Ms.' %}
        {% else %}
            {% set gender = "" %}
        {% endif %}
        <h2 id='welcome'>Welcome {{ gender + " " + form.firstname.data + " " + form.lastname.data }}</h2>
        <p>Email: {{ form.email.data }}</p>
        <p>Place: {{ form.city.data + " " + form.state.data + " " + form.zipcode.data }}</p>
    </div>
    <p>Formdata:</p>
    <ul id='formdata'>
        {% for item in form %}
            <li>{{ item.name + " : " + item.data|escape }}</li>
        {% endfor %}
    </ul>
{% endblock %}
